.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  padding: 18px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  justify-content: center;
}

.weather-card title {
  font-weight: 500;
}